{% extends 'base.html' %}

{% block title %}
{{song.title}}
{% endblock %}

{% block header %}
<h2>{{ song.title }}</h2>
<script>
    function editRoute() {
        return "{{ url_for('catalog.song_edit', id=song.id) }}";
    }
    function deleteRoute() {
        return "{{ url_for('catalog.song_delete', id=song.id) }}";
    }
</script>
{% endblock %}


{% block content %}
<article class="song-article">
    <p>Artist: {{ song.artist }}</p>
    <p>Genre: {{ song.genre.name }}</p>
    <p>{{ song.description }}</p>
    <p>Added By: {{ song.user.username }}</p>
</article>
{% if g.user and g.user.id == song.user.id %}
<div id="song-controls">
    <button onclick="window.location.href=editRoute()">Edit</button>
    <button onclick="window.location.href=deleteRoute()">Delete</button>
</div>
{% endif %}
{% endblock %}

