{% extends 'base.html' %}

{% block title %}
Add a Song
{% endblock %}

{% block header %}
<h2>Add a Song</h2>
{% endblock %}


{% block content %}
<form method="post" action="{{ url_for('catalog.song_add') }}">
    <label for="title">Title</label>
    <input name="title" id="title" required>
    <label for="genre">Genre</label>
    <select name="genre" id="genre">
    {% for genre in genres %}
        {% if in_genre == genre %}
        <option selected>{{ genre }}</option>
        {% else %}
        <option>{{ genre }}</option>
        {% endif %}
    {% endfor %}
    </select>
    <label for="artist">Artist</label>
    <input name="artist" id="artist" required>
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
    <button type="input">Add Song</button>
</form>
{% endblock %}

