<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Songcat</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        {% block metadata %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <h1><a href="{{ url_for('catalog.index') }}">Songcat</a></h1>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>