{% extends 'auth/base.html' %}

{% block metadata %}
    <meta name="google-signin-client_id" content="{{ g.google_client_id }}">
{% endblock %}

{% block header %}
<h1>{% block title %}Sign In{% endblock %}</h1>
<p>Not a member yet? <a href="{{ url_for('auth.register') }}">Sign up now</a></p>
{% endblock %}

{% block content %}
    <form method="post" class="signin">
        <p>Sign in with your email and password</p>
        <label for="email">Email</label>
        <input name="email" id="email" required>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" require>
        <input name="state" id="state" type="hidden" value="{{ state }}">
        <button type="submit">Sign In</button>
    </form>
    <p>Or sign in with one of the following authentication providers:</p>
    <div class="auth-providers">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            sendTokenToServer(id_token);
        }

        function sendTokenToServer(id_token) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('auth.gconnect')}}");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log("Signed in as: " + xhr.responseText);
                    window.location.href = "{{ url_for('catalog.index') }}"
                }
                else {
                    console.log("An error occurred.");
                    console.log(xhr.responseText);
                }
            };
            xhr.send("id_token=" + id_token + "&state={{ state }}");
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}