<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Songcat</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <meta name="google-signin-client_id" content="608830178668-2mdo879m5gltao8eqa1s80bd52ot8d3m.apps.googleusercontent.com">
        <script>
            function onLoad() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                });
            }
            function googleLogout() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then( function() {
                    console.log('Google user signed out.');
                    window.location.href = "{{ url_for('auth.signout') }}";
                });
            }
        </script>
    </head>
    <body>
        <nav>
            <h1><a href="{{ url_for('catalog.index') }}">Songcat</a></h1>
            <ul>
                {% if g.user %}
                <li><span>{{ g.user.username }}</span></li>
                    {% if g.user.provider == 'google' %}
                    <li><a href="" onclick="googleLogout()">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.signout') }}">Sign Out</a></li>
                    {% endif %}
                {% else %}
                <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    </body>
</html>